@using Microsoft.Ajax.Utilities
@using WhistProject.Controllers
@model WhistProject.Models.Player
@{
    ViewBag.Title = "PlayQueue";
}

<h2>PlayQueue</h2>
<div class="connectServer">
    @using (Html.BeginForm("Lobby", "Lobby", FormMethod.Post))
    {
        <div class="username">
            <label style="font-size:larger; fill-opacity:0.7;" for="UserName">Please provide your User Name</label>
            @Html.TextBox("username", "Your username")
        </div>
        <input type="submit" value="Connect to server" name="ServerConnect" class="connectServer" />
    }
</div>

