@using Microsoft.Ajax.Utilities
@model WhistProject.Models.Player
@{
    ViewBag.Title = "Lobby";
}

<h2>Lobby</h2>
<div class="username">
    <p style=" font: bold; font-family: 'Agency FB'; font-size: medium">Wazzaapp</p>
        @{
            for(int msgcount = 0; msgcount < Model.chat.Count; msgcount++)
            {
                string message = Model.chat[msgcount];
                <label>
                    @message
                </label>
            }
        }
</div>
<div class="write-chat">
    @using (Html.BeginForm("Talking", "Lobby", FormMethod.Post))
        {
            @Html.Hidden("username" , Model.username)
            @Html.Hidden("msg", null)
            <input type="submit" value="Go to chatting room" 
                   style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    color:black;
                    background-color:aquamarine;" 
                   class="send-chat-btn" name="Submit Button"/>
                }
</div>
