<div class="well">
    @{
        ViewBag.Title = "About";
    }
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <div class="row">
        <div class="col-md-3">
            <h3 class="text-warning text-capitalize">Rules</h3>
            <p>These are the following rules</p>
        </div>
        <div class="col-md-3">
            <h3 class="text-warning text-capitalize">What's special about it</h3>
            <p>text about special</p>
        </div>
        <div class="col-md-3">
            <h3 class="text-warning text-capitalize">Why us?</h3>
            <p>text about special</p>
        </div>
    </div>
    
</div>